.container {
   width: 1004px;
   margin-left: auto;
   margin-right: auto;
}

.header {
   height: 180px;
   border: 1px solid black;
   background-color: aqua;
}

.aside {
   height: 225px;
   border: 1px solid black;
   background-color: green;
   width: 250px;
   float: left;
   
}

.main {
   height: 225px;
   border: 1px solid black;
   background-color: brown;
   width: 750px;
   float: left;
}

.footer {
   height: 180px;
   border: 1px solid black;
   background-color: lightblue;
   clear: both;
}