* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

.header {
   display: flex;
   background-color: #762124;
}

.nav {
   width: 700px;
   background-color: azure;
}

.nav > ul {
   display: flex;
   list-style: none;
   justify-content: space-around;
   align-items: center;
   background-color: pink;
   height: 120px;
}