* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

.container {
   width: 420px;
   height: 480px;
   background-color:dodgerblue;
   margin-left: auto;
   margin-right: auto;
   margin-top: 25px;
   text-align: center;
   padding-top: 15px;

}

.form {
   width: 340px;
   height: 400px;
   background-color: azure;
   margin-left: auto;
   margin-right: auto;
   border-radius: 10px;
   padding-top: 25px;
}

h1 {
   color: grey;
   font-size: 2.8rem;
   font-family:Arial, Helvetica, sans-serif;
   opacity: 80%;
}

input {
   width: 220px;
   height: 50px;
   margin-top: 30px;
   border-radius: 10px;
   padding-left: 20px;
   font-size: 1.2rem;
   background-color: rgb(235, 235, 235);
   border-style: none;  
}

button {
   width: 220px;
   height: 50px;
   margin-top: 35px;
   border-radius: 10px;
   border-style: none;
   background-color:dodgerblue;  
   color: azure;
   font-size: 1.2rem;
}

button:hover {
   cursor: pointer;
   background-color: deepskyblue;
}

button:active {
   background-color: darkblue;
}

.pw-retr-container {
   margin-top: 25px;
}

.pw-retrieve {
   color: grey;
   /* font-size: 1rem; */
   font-weight: 550;
   font-family: Arial, Helvetica, sans-serif;
}

.pw-retrieve:hover {
   color: green;
}

p {
   margin-top: 15px;
   color: white;
   font-size: 1.3rem;
}

p > a {
   color: azure;

}

a:hover {
   color: red;
}

