.box1 {
   width: 300px;
   height: 300px;
   background-color: red;
   transition: width 2s ease-in;
   margin-bottom: 15px;
}

.box1:hover {
   width: 500px;
   transition: width 0.5s ease-in;
}

.box2 {
   width: 200px;
   height: 200px;
   background-color: green;
   transition: width 3s steps(6, end);
   margin-bottom: 15px;
}

.box2:hover {
   width: 500px;
}

.box3 {
   width: 300px;
   height: 300px;
   background-color: blue;
   transition: transform 3s;
   margin-bottom: 15px;
}

.box3:hover {
   transform: rotate(20deg);
}

.box4 {
   width: 300px;
   height: 300px;
   background-color: yellow;
   transition: transform 4s;
}

.box4:hover {
   transform: rotate(90deg) scale(2) translateY(-100%) translateX(40%);
   
}