body {
   background-color: gray;
}

p, li {
   color: red;
}

/* li {
   color: red;
} */

.aueb-logo {
   border: 3px solid green;
   width: 400px;
}

img.aueb-logo {
   height: auto;
}

p.aueb-logo {
   color: blue;
}

/* p {
   color: yellow;
} */

ul > li {
   color: blue;
}


/* Όταν βρεις h1 , στην αμέσως επόμενη παράγραφο: */
h1 + p {
   color: orange;
}

.link-cf:link {
   text-decoration: none;
   color: aqua;
}

.link-cf:visited {
   color: brown;
}

.link-cf:hover {
   background-color: green;
}

.link-cf:focus {
   outline: none;
   background-color: yellow;
}

.link-cf:active {
   background-color: chocolate;
}

#auebLogo {
   color: skyblue;
}


/* H πιο σωστή πρακτική είναι να φτιάχνουμε πολλές μικρές μορφοποιήσεις που περιγράφουν με το όνομά τους το τι κάνουν και να τις εφαρμόζουμε όπου θέλουμε μέσα στη σελίδα μας.*/

.border-green-1 {
   border: 1px solid green;
}

.border-green-2 {
   border: 2px solid green;
}

.text-blue {
   color: blue;
}