.box1 {
   width: 300px;
   height: 300px;
   background-color: red;
   transition: width 2s ease-in;
}

.box1:hover {
   width: 500px;
   transition: width 0.5s ease-in;
}

.box2 {
   width: 200px;
   height: 200px;
   background-color: green;
   transition: width 3s steps(6, end);
   margin-top: 25px;
}

.box2:hover {
   width: 500px;
}