.city {
   width: 600px;
   height: auto;
}

.img-rounded {
   border-radius: 10px;
}

.img-circle {
   border-radius: 50%;

   /* Πειράζουμε το dimension ratio επίτηδες για να δείξουμε τον κύκλο */
   width: 400px;
   height: 400px;
}

.thumbnail {
   width: 300px;
   height: auto;
   border: 5px double rgb(177, 174, 174);    
   /* συντομ.  των από κάτω */
   /* border-width: 5px; */
   /* border-style: double; */
   /* border-color: rgb(177, 174, 174); */
}

.thumbnail:hover {
   box-shadow: 0px 0px 2px 2px rgb(55, 186, 230);
   width: 335px;
   height: auto;
}

.card {
   width: 600px;
   border: 1px solid red;
   box-shadow: 0 0 2px 2px lightgreen;
   margin-left: auto;
   margin-right: auto;
   margin-top: 10px;
   /* padding 15px top-bottmo 30px left-right */
   padding: 15px 30px;
}

.card-image {
   width: 100%;
}

.card-text {
   text-align: center;
}

.london-bg {
   height: 1200px;
   background-color: aquamarine;
   background-image: url(../../img/london.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
}