*, ::after, ::before {
   box-sizing: border-box;
   padding: 0;
   /* margin: 0; */
}

.row {
   margin-bottom: 10px;  
}

label {
   /* margin-left: 50x; */
   display: inline-block;
   width: 80px;
}

.input-item {
   width: 200px;
   height: 25px;
   border-radius: 5px;
   border: 1px solid black;
   padding-left: 5px;
}

.input-item:focus {
   outline: none;
}

[type='submit'] {
   margin-left: 85px;
   margin-top: 10px;
   padding: 5px 76px;
   border-radius: 30px;
   color: white;
   background-color: black;
   
}

[type='submit']:hover {
   background-color: blue;
   color: yellow;
}

h1::after {
   content: '\1F918';
   margin-left: 20px;
}
