*, ::after, ::before {
   box-sizing: border-box;
   padding: 0px;
   /* margin: 0; */
}

.row {
   margin-bottom: 10px;
}

label {
   display: inline-block;
   width: 80px;

   margin-left: 10px;
}

.input-item {

   width: 200px;
   height: 30px;
   border: 1px solid black;
   border-radius: 10px;
   padding-left: 5px;
}

.input-item:focus {

   outline: none;
}

[type='submit'] {
   margin-left: 98px;
   margin-top: 15px;
   padding: 10px 73px;
   border-radius: 30px;
   color: white;
   background-color: red;
   cursor: pointer;
}

[type='submit']:hover {

   color: yellow;
   background-color: blue;
   
}

h1::after {
   content: '\2764\FE0F';
   margin: 20px;
   
}