:root {
   --gov-blue: #003474;
   --navy: #002E94;
   --blue: #083AA9;
   --white: #fff;
   --lightgrey-200: #ECEBEC;
   --lightgrey-300: #CDCCCE;
   --lightgrey-500: #99989C;
   --yellow: rgb(130, 130, 4);
   --green: #006736;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   font-family: Arial, Helvetica, sans-serif;
}

/* Header Styling */
header {
   width: 100%;
   height: 105px;
   border-bottom: 10px solid var(--blue);
}

header .img-gov {
   height: 100px;
   width: auto;
}

nav {
   width: 80%;
}

main {
   flex: 80%;
   height: calc(100vh - 105px);
   overflow: auto;
}

aside {
   flex: 20%;
}

/* Footer Styling */

footer {
   border-top: 10px solid var(--blue);
}

.img-footer {
   height: 75px;
   width: auto;
}

/* Stepper Styling */

.stepper-circle {
   background-color: var(--lightgrey-300);
   color: var(--white);
   height: 30px;
   width: 30px;
   border-radius: 50%;
   text-align: center;
   line-height: 30px;
}

.stepper-border-bottom {
   display: block;
   border-bottom: 1px solid var(--lightgrey-300);
}

.active {
   background-color: var(--gov-blue);
}

/* Info Styling */

.info {
   display: inline-block;
   border-radius: 50%;
   background-color: var(--gov-blue);
   width: 20px;
   height: 20px;
   color: var(--lightgrey-200);
   text-align: center;
   line-height: 20px;
}

/* Displays */

.d-flex {
   display: flex;
   justify-content: space-between;
}

.d-block {
   display: block;
}

.flex-row {
   flex-direction: row;
}

.align-center {
   align-items: center;
}

.flex-grow-1 {
   flex-grow: 1;
}

.justify-end {
   justify-content: end;
}

/* Margin - Padding */

.p-1 {
   padding: 1rem;
}

.p-3 {
   padding: 3rem;
}

.pl-1 {
   padding-left: 1rem;
}

.pr-1 {
   padding-right: 1rem;
}

.pl-2 {
   padding-left: 2rem;
}

.pr-2 {
   padding-right: 2rem;
}

.m-auto {
   margin-left: auto;
   margin-right: auto;
}

.mr-1 {
   margin-right: 1rem;
}

.ml-1 {
   margin-left: 1rem;
}

.ml-05 {
   margin-left: 0.5rem;
}

.mt-1 {
   margin-top: 1rem;
}

.mt-2 {
   margin-top: 2rem;
}

.mb-1 {
   margin-bottom: 1rem;
}

.mb-2 {
   margin-bottom: 2rem;
}

/* Backgrounds */

.bg-gov-blue {
   background-color: var(--gov-blue);
}

.bg-green {
   background-color: var(--green);
}

.bg-white {
   background-color: var(--white);
}

.bg-lighgrey-300 {
   background-color: var(--lightgrey-300);
}

.bg-lighgrey-200 {
   background-color: var(--lightgrey-200);
}

/* Text Styling */

.font-size-1 {
   font-size: 1rem;
}

.font-size-2 {
   font-size: 2rem;
}

.font-size-075 {
   font-size: 0.75rem;
}

.text-lightgrey-200 {
   color: var(--lightgrey-200);
}

.text-lightgrey-500 {
   color: var(--lightgrey-500);
}

.text-center {
   text-align: center;
}

.text-white {
   color: var(--white);
}

.text-decoration-none {
   text-decoration: none;
}

.text-blue {
   color: var(--blue);
}

.text-yellow {
   color: var(--yellow);
}

/* List - Links */

.list-style-none {
   list-style: none;
}

/* Borders */

.border {
   border-style: solid;
   border-width: 1px;
}

.border-white {
   border-color: var(--white);
}

.border-radius-15 {
   border-radius: 15%;
}

.border-lightgrey-300 {
   border-color: var(--lightgrey-300);
}

.no-border {
   border: 0;
}

/* Width - Height */
.col-1 { width: 8.33% }
.col-2 { width: 16.66% }
.col-3 { width: 25% }
.col-4 { width: 33.33% }
.col-5 { width: 41.66% }
.col-6 { width: 50% }
.col-7 { width: 58.33% }
.col-8 { width: 66.66% }
.col-9 { width: 75% }
.col-10 { width: 83.33% }
.col-11 { width: 91.66% }
.col-12 { width: 100% }

.h-2 {
   height: 2rem;
}

.h-25 {
   height: 2.5rem;
}

/* Styling Forms */

.text-info {
   color: var(--lightgrey-500);
   font-size: smaller;
   padding-left: 1rem;
}